# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/NRRT
/API/bin/Debug/net6.0
/API/obj
/BusinessLogic/obj
/BusinessLogic/bin/Debug/net6.0
/Contracts/bin/Debug/net6.0
/Contracts/obj
/DataAccess.SQL/bin/Debug/net6.0
/DataAccess.SQL/obj
/Shared/bin/Debug/net6.0
/Shared/obj
/.editorconfig
/API/bin/Release/net6.0
/API/Properties
/BusinessLogic/bin/Release/net6.0
/Contracts/bin/Release/net6.0
/DataAccess.SQL/bin/Release/net6.0
/Shared/bin/Release/net6.0
